.container {
    margin: 50px 0;
}


.imager{
    width: 10vw;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 800px) {
    .imager {
        width: 30vw !important;
        margin-left: 140px !important;
        margin-top: 30px;
    }
}

.card {
    margin: 3% 2% !important;
    background: white !important;
}

.infected {
    border-top: 20px solid blue;
    border-bottom: 20px solid blue;

}
.recovered {
    border-top: 20px solid green;
    border-bottom: 20px solid green;

}

.deaths {
    border-top: 20px solid red;
    border-bottom: 20px solid red;
    

}

@media (max-width: 800px) {
    .card {
        margin: 2% 0 !important;
    }
}

