.container {
    display: flex;
    justify-content: center;
    width: 65%;
    background-color: wheat;
    border-radius: 10px;
    border: 5px solid white;
    margin: 5px 10px 10px 10px; 
}
@media screen and (max-width: 800px) {
    .container{
    width: 98vw;
    border-radius: 2px;
    border: 2px solid white;
    margin: 5px 10px 10px 10px; 

    }
}